.group {
    flex: 0 0 auto;
    width: calc(50% - 24px);
    height: 100%;
}

.group-text {
    width: 120px;
}

.group-select {
    width: 200px;
}

.app-content{
    height: calc(100vh - 154px - 63px);
    padding-bottom: 10px;
    .app-container{
        height: 100%;
    }
}