.group {
    flex: 0 0 auto;
    width: calc(50% - 24px);
    height: 100%;
}

.group-text {
    width: 165px;
}

.group-select {
    width: 200px;
}

.border-danger-custom {
    border: 1px solid red;
    border-radius: 4px;
}

.app-content{
    height: calc(100vh - 154px - 63px);
    padding-bottom: 10px;
    .app-container{
        height: 100%;
    }
}

.border1px { 
    border: 1px solid #000;
}

.border1pxRight { 
    border-left: 1px solid #000;
}

.barcodeCSS {
    svg {
        height: 80px;
    }
}