.tableHeader {
    padding: 2px !important;
    text-align: center;
    align-content: center;
    background-color: #fff3cd;
    font-size: 10px;
}

.tableBody {
    padding: 2px !important;
    text-align: center;
    align-content: center;
    font-size: 10px;
}

.modalTransferMoney { 
    // width: 1286px;

    .modal-size{
        width: 1286px;
    }
}