/* .example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
} */

.PENDING_APPROVAL_COLOR {
    background-color: #F7DA79;
}

.sick-days-breach {
    background-color: #cc333344;
}