.CREATED_COLOR {
    background-color: #fff !important ;
}

.PENDING_APPROVAL_COLOR {
    background-color: #fae0b8 !important ;
}

.IN_WAREHOUSE_COLOR {
    background-color: #fbbf63 !important ;
}

.DELIVERED_COLOR {
    background-color: #cdcccc !important ;
}   


.sick-days-breach {
    background-color: #cc333344 !important;
}

.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}